Product Requirements
--------------------

- The DeepHub® is offered as a Docker image (orchestrated through Docker Compose) for easy installation and flexible integration with omlox-compliant applications.
- Through Docker Compose, the DeepHub can be installed and operated on all standard operating systems.
- In order to ensure uninterrupted installation, a Docker environment for running x86_64 containers is required.
- The containerized deployment of the DeepHub through Docker enables seamless integration in various scenarios, including isolated and secure environments, without the need for high-end device specifications.

Docker Engine
~~~~~~~~~~~~~~

The DeepHub has a small digital footprint, allowing it to run on low power industry PCs and edge devices. If the DeepHub is deployed via Docker containers, it's necessary to consider the basic requirements for running Docker Engine. Refer to the latest updates and requirements for `Windows <https://docs.docker.com/desktop/windows/install/>`_ and `macOS <https://docs.docker.com/desktop/mac/install/>`_.

The host system operating the DeepHub must have Docker version 20.10.10 or higher. If this version is not available for your Linux distribution out-of-the-box, you can get it directly from Docker by following these steps:

.. code-block:: shell
  :caption: Step 1:

    sudo apt-get install apt-transport-https ca-certificates curl gnupg lsb-release

.. code-block:: shell
  :caption: Step 2:

    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg

.. code-block:: shell
  :caption: Step 3:

    echo "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

.. code-block:: shell
  :caption: Step 4:

    sudo apt-get install docker-ce docker-ce-cli containerd.io

Virtualization
~~~~~~~~~~~~~~

Virtualization must be enabled in order to run the Docker containers on non-Linux operating systems. For this purpose, the following features should be enabled:

- Virtual Machine Platform
- Windows subsystem for Linux
- Hyper-V

Network
~~~~~~~

The DeepHub uses multiple network ports that must be available during installation. 


**Port 8081: DeepHub Docker Proxy** 

This port needs to be available on the host device. Docker Compose orchestration is configured on this port to facilitate the communication between the DeepHub backend with external interfaces.

**Port 443: Outgoing Internet Access for License Lease & Consumption API Endpoint** 

This port needs to be available in order to get a lease for the DeepHub instance when contacting our license server. For more information, refer to the :ref:`license mechanism <deep-hub-ov-license-mechanism>` section.
